@font-face
  font-family: Geometria-light;
  src: url(../fonts/Geometria-Light.otf) format('opentype')
  font-style: normal;
  font-weight: normal;

@font-face
  font-family: Geometria-regular;
  src: url(../fonts/Geometria.otf) format('opentype')
  font-style: normal;
  font-weight: normal;

@font-face
  font-family: Geometria-bold;
  src: url(../fonts/Geometria-Bold.otf) format('opentype')
  font-style: normal;
  font-weight: normal;

@font-face
  font-family: Geometria-extra-light;
  src: url(../fonts/Geometria-ExtraLight.woff) format('woff')
  font-style: normal;
  font-weight: bold;

@font-face
  font-family: Geometria-Med;
  src: url(../fonts/Geometria-Medium.otf) format('opentype')
  font-style: normal;
  font-weight: normal;

body
  font-family: Geometria-light, Helvetica, sans-serif;
  background-color: #f5f5f5;

h2
  font-family: Geometria-bold;

a
  text-decoration: none;

button
  outline: none
  cursor: pointer

header
  max-width: 1600px;
  width: 100%;
  margin: 0 auto;
  height: 77px;
  background-color: #153259;

.header-box
  display: flex;
  justify-content: center;

.header-box,.menu-wrap,.menu-wrap__list
  height: 100%;

.menu-box
  max-width: 1140px;
  width: 100%
  display: flex;
  justify-content: center;
  position: relative

.menu-wrap
  max-width: 630px;
  width: 100%

  &__list
    display: flex;
    justify-content: space-around
    align-items: center;
    width: 100%
    margin: 0;
    padding: 0;
    z-index: 5


  &__list-item
    list-style: none

  &__link
    color: #fff;
    font-size: 14px;
    margin: 10px;
    opacity: 0.7;
    transition: opacity .2s ease;

  &__link:hover
    opacity: 1

@media (max-width: 1023px)
  .menu-wrap__list
    display: none
    flex-direction: column
    justify-content: center
    position: absolute
    top: 100%

@media (max-width: 1023px)
  .menu-wrap__link
    opacity: 1
    color: #000
    font-size: 20px
    padding: 5px
    transition: all .1s ease
    margin-left: 30px

@media (max-width: 1023px)
  .menu-wrap__link:hover
    margin-left: 40px
    color: green

@media (max-width: 1023px)
  .menu-wrap__list-item
    display: block
    background: #fff
    z-index: 0
    width: 100%

@media (min-width: 1024px)
  .menu-wrap__list
    display: -webkit-flex
    display: -moz-flex
    display: -ms-flex
    display: -o-flex
    display: flex
    position: initial

.account
  max-width: 500px;
  width: 100%
  display: flex;
  align-items: center;


.lens
  border-left: 2px solid #000
  border-right: 2px solid #000
  width: 85px;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

.avatar
  display: flex;
  align-items: center;
  cursor: pointer;
  max-width: 328px;
  width: 100%
  justify-content: center;
  border-right: 2px solid #000;
  height: 100%;
  position: relative
  z-index: 6

  &__name
    border: none
    background: none

  &__img
    width: 40px;
    height: 40px;
    margin-right: 5px;

  &__list
    display: none
    width: 100%
    position: absolute
    top: 61px
    background-color: #fff
    padding: 0
    list-style: none

  &__item:after
    content: '__________________________'
    display: block
    color: #f5f5f5
    text-align: center

  &__link
    display: block
    padding: 25px 0 10px 35px
    color: #4f4d4d
    transition: all .1s ease-in
    width: 100%
    font-size: 14px

  &__link:hover
    margin-left: 20px

@media (max-width: 768px)
  .avatar__name
    display: none

.search
  width: 25px;
  height: 20px;

.avatar__name
  color: #fff;
  opacity: 0.6

  &:hover
    opacity: 1;

// icons

.icon
  background-image: url(../img/icons/css_sprites.png)
  display: inline-block
  vertical-align: 0
  margin-right: 10px

  &--red
    background-position: -66px -10px
    width: 8px
    height: 9px

  &--hover
    background-position: -10px -39px
    width: 8px
    height: 9px

  &--green
    background-position: -38px -10px
    width: 8px
    height: 9px

  &--gray
    background-position: -10px -10px
    width: 8px
    height: 9px

.bell
  width: 99px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative

  &__list
    display: none
    background-color: #fff
    list-style: none
    position: absolute
    top: 61px
    right: 0
    padding: 0
    width: 419px
    z-index: 15

  &__link
    width: 100%
    display: block
    padding: 25px 0 10px 35px
    color: #4f4d4d
    transition: all .1s ease-in
    width: 100%
    font-size: 14px

  &__link:hover
    margin-left: 20px
    color: #67aed9


  &__item:after
    content: '__________________________'
    display: block
    color: #f5f5f5
    text-align: center

.lens:hover,.avatar:hover,.bell:hover
  background-color: #1f273c;

.bell-svg
  width: 29px;
  height: 27px;

main
  max-width: 1600px;
  width: 100%;
  margin: 0 auto;
  position: relative;
  height: 100%;

.container
  max-width: 1140px;
  width: 100%;
  position: relative
  margin: 40px 35px

@media (max-width: 1480px)
  .container
    // margin: 0 auto

.controls-box
  position: relative
  max-width: 1140px;
  width: 100%
  box-sizing: -webkit-border-box
  box-sizing: border-box

@media (max-width: 1600px)
  .controls-box
    margin: 35px auto



.block
  background: #fff url(../img/slider-bg/slider-bg.png) no-repeat
  width: 1140px;
  height: 540px;
  position: relative;

  &__text
    font-size: 24px;
    max-width: 370px;
    width: 100%
    margin-left: 25px;
    color: #fff;
    position: absolute;

  &__slider
    max-width: 572px;
    width: 100%
    height: 180px;
    background: #153259;
    position: absolute;
    bottom: 3px;
    left: 0;

.block--2
  background: url(../img/slider-bg/slide1.jpg) no-repeat 50%;
  background-size: cover;

.block--3
  background: url(../img/slider-bg/durov-1.jpg) no-repeat 50%;
  background-size: cover;

.block--4
  background: url(../img/slider-bg/dur3.png) no-repeat 50%;

.slick
  max-width: 1140px;
  width: 100%

@media (max-width: 1600px)
  .slick

.arrows
  width: 51px;
  height: 51px;
  fill: #fff

@media (max-width: 506px)
  .arrows
    width: 35px
    height: 35px

.arrows:active #circle
  fill: #1f273c

#nc
  fill: #fff

aside
  max-width: 360px;
  width: 100%
  position: absolute
  right: 38px

.aside-column
  text-align: center
  text-align: -webkit-center

.task
  width: 100%;
  height: 318px;
  background: #2384ce;
  color: #fff;
  box-sizing: border-box

  &__items
    display: flex;
    justify-content: center;

  &__item
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 116px;
    height: 85px;
    background: none;
    border: none;
    color: #fff;
    transition: all .1s ease;
    padding: 0

  &__item:active
    background-color: #0b5186;

  &__item:nth-child(1), &__item:nth-child(2)
    border-right: 1px solid #1c6fae;

  &__title
    font-size: 24px;
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 0;

  &__text
    font-size: 14px;

@media (max-width: 1612px)
  .task
    width: 50%
    height: 457px

@media (max-width: 1612px)
  .task__items
    flex-direction: column
    align-items: center

@media (max-width: 1612px)
  .task__item:nth-child(1),.task__item:nth-child(2)
    border-right: none

.task__title:before
  content: '';
  display: inline-block;
  background: url(../img/icons/to-do-list.png);
  width: 40px;
  height: 40px;
  vertical-align: middle;
  margin: 20px 28px

@media (max-width: 1134px)
  .task__title:before
    display: none

.number
  font-family: Geometria-extra-light;
  font-size: 56px;

.create
  background: #0b5186
  border: none;
  border-radius: 22px;
  padding: 10px 40px;
  font-family: Geometria-Med;
  font-size: 14px;
  color: #fff;
  margin: 40px 25px;

  &:active
    opacity: 0.7

@media (max-width: 1620px)
  .create
    margin: 10px

@media (max-width: 1134px)
  .create
    position: absolute
    top: 75px
    left: 100px

.co-worker
  margin-top: 42px;

  &__svg
    display: flex;
    align-items: center;

  &__links
    width: 100%;

  &__link
    display: inline-block;
    color: #61656a;
    border: 3px solid #fff;
    border-radius: 20px;
    padding: 10px 14px;
    margin: 5px 2px;
    font-size: 14px;
    transition: all .1s ease;

  &__link:hover
    color: #1f273c
    border-color: #1f273c

  &__link:active
    color: #fff;
    background-color: #1f273c;

  &__link:nth-child(3),&__link:nth-child(4)
    padding: 10px 5px;

  &__link:nth-child(6),&__link:nth-child(5)
    padding: 10px 7px;



.man-svg
  margin-right: 15px;
  width: 40px;
  height: 40px;

// aside end

.container-2
  height: 559px;
  background-color: #fff;
  max-width: 1140px;
  width: 100%
  margin: 50px 0 0 35px
  border: 1px solid #eeeeee;
  position: relative

  &__item
    display: flex;
    align-items: center;
    padding: 35px 45px 0 40px;
    justify-content: space-between;

  &__title-box
    display: flex;
    align-items: center;


// @media (max-width: 980px)
//   .container-2
//     padding-bottom: 300px


.svg-paper
  width: 40px;
  height: 40px;
  margin-right: 10px;

.burger
  background: url(../img/icons/burger.png) no-repeat 50%;
  width: 13px;
  height: 13px;
  cursor: pointer;
  border: none;
  position: relative

.burger-animate
  background: url(../img/icons/cross.png) no-repeat 50%
  width: 16px
  height: 16px

.news-dropdown
  padding: 0
  display: none
  position: absolute
  left: -94px
  z-index: 2
  background-color: #fff
  border: 1px solid #000

  &__item
    list-style: none
    background: #2384ce
    text-align: center

  &__item:hover
    background: #87CEFA

  &__link
    display: block
    color: #fff
    font-size: 25px
    margin: 0 10px
    border-bottom: 1px solid #000

.news-box
  margin: 35px 0 0 40px;
  display: flex;
  flex-wrap: wrap
  justify-content: space-between;

  &__item
    width: 470px;
    display: flex;
    margin-bottom: 40px;

  & p
    font-size: 14px;
    margin: 0px 0 0 15px;

  &__text
    height: 35px;
    position: relative;
    height: 120px;

  &__likes
    position: absolute;
    bottom: 0;
    left: 10px;
    background: none;
    border: none;
    cursor: pointer;

.bold
  font-family: Geometria-regular

.like-svg
  width: 20px;
  height: 20px;

.like__num
  position: absolute;
  bottom: 6px;
  left: 25px;
  color: #979797;
  width: 50px

.views
  position: absolute;
  bottom: 1px;
  left: 100px;
  padding-bottom: 2px;

  &__svg
    width: 20px;
    height: 20px;

  &__num
    position: absolute;
    bottom: 6px;
    left: 23px;
    color: #979797;
    width: 50px;

.more-news
  position: absolute
  bottom: 38px
  left: 35px
  display: -webkit-flex
  display: -moz-flex
  display: -ms-flex
  display: -o-flex
  display: flex
  align-items: center

  &__btn
    border: none
    background: none
    cursor: pointer

  &-svg
    width: 40px
    height: 40px
    color: #fff

  &__text
    font-size: 14px

.more-news__btn:active #more-news
  fill: #000

#more-news
  fill: #878787

.quiz
  background-color: #fff
  border: 1px solid #eeeeee
  margin-top: 55px

  &__svg
    display: -webkit-flex
    display: -moz-flex
    display: -ms-flex
    display: -o-flex
    display: flex
    align-items: center
    padding: 30px 0 0 30px

  &__title
    margin: 0

  &__p
    font-size: 20px

  &__box
    margin-left: 30px
    width: 260px

  &__list
    list-style: none
    padding: 0

  &__btn
    border: none
    background: none
    margin: 7.5px
    font-size: 14px
    font-family: Geometria-light
    display: inline-block
    vertical-align: middle

  &__btn:hover
    color: #67aed9

  &__item
    display: -webkit-flex
    display: -moz-flex
    display: -ms-flex
    display: -o-flex
    display: flex
    align-items: center

li:nth-child(1) .quiz__btn:before
  background: url(../img/icons/c1.png) no-repeat
  width: 11px
  height: 10px
  content: ''
  display: inline-block
  margin-right: 10px

li:nth-child(2) .quiz__btn:before
  background: url(../img/icons/c2.png) no-repeat
  width: 11px
  height: 10px
  content: ''
  display: inline-block
  margin-right: 10px

li:nth-child(3) .quiz__btn:before
  background: url(../img/icons/c3.png) no-repeat
  width: 11px
  height: 10px
  content: ''
  display: inline-block
  margin-right: 10px

li:nth-child(4) .quiz__btn:before
  background: url(../img/icons/c4.png) no-repeat
  width: 11px
  height: 10px
  content: ''
  display: inline-block
  margin-right: 10px

.quiz-svg
  width: 40px
  height: 40px
  margin-right: 15px

@media (max-width: 1134px)
  .quiz__svg
    padding: 0

.quiz__result
  width: 100%
  height: 340px
  background-color: #454545

@media (max-width: 1134px)
  .quiz__result
    height: 100%

.result
  margin: 40px 40px
  padding-top: 15px

  &__title
    font-size: 20px
    color: #fff

.circle
  text-align: center

  &__text
    position: relative

.sum
  font-size: 60px
  position: absolute
  top: 46%
  margin-top: -20%
  left: 50%
  margin-left: -20%
  color: #fff

.voted
  position: absolute
  bottom: 34%
  left: 50%
  margin-left: -22%
  color: #9C9C9C

.total
  font-size: 24px
  font-family: Geometria-bold
  color: #fff

.container-3
  margin: 43px 0 0 35px
  background-color: #fff
  border: 1px solid #eeeeee
  max-width: 1140px;
  width: 100%

@media (max-width: 1480px)
  .container-3
    // margin: 30px auto

.info-box
  display: -webkit-flex
  display: -moz-flex
  display: -ms-flex
  display: -o-flex
  display: flex
  justify-content: center
  align-items: flex-start
  font-family: Geometria-regular

  &__title
    display: -webkit-flex
    display: -moz-flex
    display: -ms-flex
    display: -o-flex
    display: flex
    align-items: center
    margin: 55px 0 0 38px

  &-svg
    width: 40px
    height: 40px

  &__new
    max-width: 311px
    width: 100%
    margin: 33px

.new,.new__title
  margin: 0
  font-size: 14px
  margin-left: 10px

.new__title
  margin: -18px 5px 15px 50px

.new
  margin-top: 5px

  &__img
    max-width: 309px
    width: 100%
  &__text1
    font-size: 20px

  &__text1
    font-size: 14px

.info-box__ava
  display: block

.avatar-box
  display: -webkit-flex
  display: -moz-flex
  display: -ms-flex
  display: -o-flex
  display: flex

button.add-new
  background: #0b5186
  border: none;
  border-radius: 22px;
  padding: 10px 40px;
  font-family: Geometria-Med;
  font-size: 14px;
  color: #fff;
  margin: 40px 25px;
  display: block

@media (max-width: 1572px)
  button.add-new
    margin: 0 auto

@media (max-width: 1572px)
  .info-box
    flex-flow: row wrap

@media (max-width: 1572px)
  .container,.container-2,.container-3
    max-width: 1000px
    width: 96%

@media (max-width: 1434px)
  .container,.container-2,.container-3
    max-width: 900px


@media (max-width: 1334px)
  .container,.container-2,.container-3
    max-width: 800px

@media (max-width: 1234px)
  .container,.container-2,.container-3
    max-width: 700px

@media (max-width: 1134px)
  .container,.container-2,.container-3
    max-width: 600px

@media (max-width: 1034px)
  .container,.container-2,.container-3
    max-width: 500px

@media (max-width: 934px)
  .container,.container-2,.container-3
    max-width: 500px

@media (max-width: 1134px)
  .container,.container-2
    margin-top: 900px
    margin: 0 auto

@media (max-width: 1134px)
  .container-3
    margin: 40px auto

@media (max-width: 1134px)
  aside
    max-width: 1134px
    width: 90%
    left: 35px
    top: 553px
    display: -webkit-flex
    display: -moz-flex
    display: -ms-flex
    display: -o-flex
    display: flex
    align-items: flex-start
    justify-content: center
    box-sizing: border-box

@media (max-width: 1134px)
  .co-worker
    display: -webkit-flex
    display: -moz-flex
    display: -ms-flex
    display: -o-flex
    display: flex
    flex-direction: column
    margin-top: 0
    position: relative
    top: 585px
    left: 100px

@media (max-width: 1134px)
  .co-worker__links
    display: -webkit-flex
    display: -moz-flex
    display: -ms-flex
    display: -o-flex
    display: flex
    justify-content: center

@media (max-width: 1134px)
  .task
    display: -webkit-flex
    display: -moz-flex
    display: -ms-flex
    display: -o-flex
    display: flex
    width: 50%
    height: 100%
    position: relative
    left: 604px
    top: 12px
    border-radius: 25px

@media (max-width: 1134px)
  .task__items
    display: -webkit-flex
    display: -moz-flex
    display: -ms-flex
    display: -o-flex
    display: flex
    flex-direction: row

@media (max-width: 1134px)
  .task__item
    width: 100px

@media (max-width: 1611px)
  .task__title
    text-align: center

@media (max-width: 854px)
  .task
    display: none

@media (max-width: 1134px)
  .container-2
    margin-top: 760px
    height: 860px

@media (max-width: 1434px)
  .container-2
    height: 860px

@media (max-width: 1134px)
  .quiz
    display: -webkit-flex
    display: -moz-flex
    display: -ms-flex
    display: -o-flex
    display: flex
    align-items: center
    position: relative
    top: 100px
    right: 500px

@media (max-width: 854px)
  .quiz
    top: -13px
    right: 316px
    max-width: 500px
    width: 100%

@media (max-width: 854px)
  .co-worker
    top: 490px
    left: 273px

@media (max-width: 667px)
  .co-worker__links
    flex-flow: row wrap

@media (max-width: 667px)
  .quiz
    max-width: 500px
    width: 100%
    left: -100px

@media (min-width: 0px) and (max-width: 768px)
  .lens,.bell
    display: none

@media (min-width: 300px) and (max-width: 769px)
  .avatar
    justify-content: flex-end

@media (min-width: 320px) and(max-width: 767px)
  .arrows
    display: none;

@media (min-width: 767px) and(max-width: 1025px)
  .slick-prev
    left: 4%
    bottom: -10%

@media (min-width: 767px) and(max-width: 1025px)
  .slick-next
    left: 19%
    bottom: -10%

@media (min-width: 320px) and(max-width: 450px)
  .slick-dots
    left: 140px

@media (max-width: 460px)
  aside
    display: none

@media (max-width: 460px)
  .container-2
    margin-top: 0

@media (min-width: 320px) and(max-width: 410px)
  .news-box__likes
    left: -167px
    top: 122px

@media (min-width: 320px) and(max-width: 410px)
  .like__num
    bottom: -18px

@media (min-width: 320px) and(max-width: 410px)
  .views
    bottom: -27px
    left: -76px

@media (min-width: 320px) and(max-width: 410px)
  .news-box
    margin: 35px 0 0 25px
